<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="keywords" content="picture, this, PT, Pictures" />
    <meta name="viewport" content="width=device-width, initial-scale=2" />
    <title>PT-Photo Details</title>  
</head>

<body>

    
    <header>
        <img src="assets//Images//ptLogo.png" alt="ptLogo" />
    </header>

    <article>
        
        
            
        <div class="Abt" id="home">
                
            <figure>
				<a [routerLink]="['ptAbout']"><img src="assets//Images//nbPhoto.jpg" alt="Nickelback" /></a>
                <figcaption>nbPhoto.jpg</figcaption>
            </figure>                    
            <h1> Nickelback - Photograph </h1>
                <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                        labore et dolore magna aliqua. Placerat orci nulla pellentesque dignissim enim sit amet venenatis 
                        urna. Nulla pharetra diam sit amet nisl suscipit. Diam vulputate ut pharetra sit amet. Est ultricies 
                        integer quis auctor elit sed vulputate mi sit. Malesuada fames ac turpis egestas. Aenean et tortor 
                        at risus viverra adipiscing at in tellus. Et egestas quis ipsum suspendisse ultrices gravida dictum. 
                        Ac placerat vestibulum lectus mauris ultrices eros in cursus. Sociis natoque penatibus et magnis dis 
                        parturient montes. Ornare arcu dui vivamus arcu felis. Faucibus turpis in eu mi. Ultricies mi eget 
                        mauris pharetra et. In tellus integer feugiat scelerisque varius morbi enim nunc faucibus. Aliquet 
                        sagittis id consectetur purus ut faucibus pulvinar elementum.
                </p>
        </div>
                
    </article>

   <footer>
		Pict Corp.  &#9830; 901 S. National Ave. Springfield, MO 65898 &#9830; email:pictcorp@framethis.net, Tel:111-867-5309
   </footer>


</body>


</html>