<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="keywords" content="picture, this, PT, Pictures" />
    <meta name="viewport" content="width=device-width, initial-scale=2" />
    <title>PT-Photo Details</title>  
</head>

<body>

    
    <header>
        <img src="assets//Images//unus.jpg" alt="ptLogo" />
    </header>

    <article>
        
        
            
        <div class="Abt" id="home">

            <div *ngFor="let video of videos" class="album">
                
            <figure>
            
                <a href="https://www.youtube.com/watch?v={{video.id.videoId}}" target="_blank"><img [src]="video.snippet.thumbnails.medium.url" alt="" /></a>
                
                <figcaption>Unus Annus</figcaption>
            </figure>                    
            <h1> {{video.snippet.title}} </h1>
                <p>
                    {{video.snippet.description}}
                </p>
            </div>
        </div>
                
    </article>

   <footer>
    UA FanSite.  &#9830; 901 S. National Ave. Springfield, MO 65898 &#9830; email:UAFan@UnasAnnusFan.net, Tel:111-867-5309
   </footer>


</body>


</html>