<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="keywords" content="Mega, Travel, MT, Vacation" />
    <meta name="viewport" content="width=device-width, initial-scale=2" />
    <title>PT-Albums</title>
</head>

<body>

   
    <header>
        <img src="assets//Images//ptLogo.png" alt="ptLogo" />
    </header>

    <article>
        <h1>Photo Album Categories</h1>
        <ul class="album">
            <li class="album"><a [routerLink]="['ptCat']">Animals</a></li>
            <li class="album"><a [routerLink]="['ptCat']">Art</a></li>
            <li class="album"><a [routerLink]="['ptCat']">Music</a></li>
            <li class="album"><a [routerLink]="['ptCat']">Nature</a></li>
            <li class="album"><a [routerLink]="['ptCat']">Space</a></li>
        </ul>
    </article>

  <footer>
        Pict Corp.  &#9830; 901 S. National Ave. Springfield, MO 65898 &#9830; email:pictcorp@framethis.net, Tel:111-867-5309
  </footer>

</body>


</html>