<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="keywords" content="Mega, Travel, MT, Vacation" />
    <meta name="viewport" content="width=device-width, initial-scale=2" />
    <title>PT-Albums</title>
</head>

<body>

   
    <header>
        <img src="assets//Images//unus.jpg" alt="ptLogo" />
    </header>

    <article>
        <h1>Recent Uploaded Videos</h1>
    
        <div *ngFor="let video of videos" class="album">
            <div class="card border-0 shadow vh-50">
            <a href="https://www.youtube.com/watch?v={{video.id.videoId}}" target="_blank">
            <img [src]="video.snippet.thumbnails.medium.url" class="card-img-top" alt="..."></a>
            <div class="card-body text-center">
            <h5 class="card-title mb-0">
            <a href="https://www.youtube.com/watch?v={{video.id.videoId}}">{{video.snippet.title}}
            </a></h5>
            </div>
            </div>
            </div>

    </article>
    

  <footer>
        UA FanSite.  &#9830; 901 S. National Ave. Springfield, MO 65898 &#9830; email:UAFan@UnasAnnusFan.net, Tel:111-867-5309
  </footer>

</body>


</html>